.form_wrapper {    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 100;
  background: white;
  gap: 0.5rem;
}

.form_wrapper label {
  /* align-self: flex-start; */
}

.form_wrapper input {
  width: 100%;
  font: inherit;
  padding: 0.35rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
