.bigDiv {
  height: 100%;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.wrapper h2 {
  margin-top: 2rem;
}

.findDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.findDiv input {
  width: 100%;
  height: 37px;
  border-radius: 4px;
  border: 1px solid var(--medium-grey);
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}
.findDiv button,
.resultDiv button {
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 1rem;
  align-self: center;
}
.findDiv button:hover,
.resultDiv button:hover {
  cursor: pointer;
  background-color: var(--primary-green);
  color: var(--fast-white);
}

.resultDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--Relaway);
  color: var(--primary-green);
  font-weight: 600;
  font-size: 20px;
}

.resultDiv button {
  background-color: var(--primary-green);
  color: var(--fast-white);
  height: 69px;
  width: calc(100% - 48px);
  border-radius: 12px;
  border: 1px solid var(--primary-green);
  align-items: center;
  padding: 20px;
  font-family: var(--Relaway);
  font-weight: 600;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}
.resultDiv ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.resultDiv li {
  display: flex;
  flex-direction: column;
}

.resultDiv li span {
  font-weight: bold;
}
