.bigDiv {
  height: 300px;
  background-color: bisque;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.findDiv {
  background-color: chocolate;
}

.resultDiv {
  background-color: aqua;
}

ul {
  list-style-type: none;
}
