*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  background-color: #b8b8b8;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
*/
input, button, textarea, select {
  font: inherit;
}
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root{
  --black-shadow: rgba(0, 0, 0, 0.4);
  --black: #27272E;
  --dark-grey: #7D7D82;
  --medium-grey: #B8B8BA;
  --fast-white: #F8F8F9;
  --primary-green: #446E52;
  --Relaway: 'Raleway',
    sans-serif;
  font-family:  var(--Relaway);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-green);
}
