.app {
    background-color: var(--fast-white);
    width: 360px;
    height: 640px;
    grid-template-areas: 
    'navbar'
    'page-content'
    'footer'
    ;
    grid-template-rows: 44px 1fr 76px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    grid-area: navbar;
}

.footer {
    grid-area: footer;
}

.page_content {
    height: 520px;
    grid-area: page-content;
    overflow-y: scroll;
    
}