.app {
    max-width: 350px;
    height: 100%;
    grid-template-areas: 
    'navbar'
    'page-content'
    'footer'
    ;
    grid-template-rows: 100px 1fr 10px;

}

.navbar {
    grid-area: navbar;
}

.footer {
    grid-area: footer;
}

.page_content {
    grid-area: page-content;
}