.data_container {
    display: grid;
    grid-template-areas:
        'data_header arrowIcon'
        'data_detail arrowIcon'
    ;
    margin: 25px 15px;
    row-gap: 10px;
    grid-template-columns: 1fr 35px;
}

.data_header {
    grid-area: data_header;
    font-weight: 400;
    font-size: 14px;
}

.data_detail {
    grid-area: data_detail;
    font-weight: 400;
    font-size: 20px;
}

.data_container a{
    grid-area: arrowIcon;
    align-self: center;
    cursor: pointer;
    background: url('./../../../../assets/arrow.png');
    width: 35px;
    height: 35px;
    border: none;
}